{
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "endOfLine": "lf",
  "printWidth": 120,
  "trailingComma": "none",
  "semi": false,
  "htmlWhitespaceSensitivity": "strict",
  "vueIndentScriptAndStyle": false
}
