html{
  overflow-y: scroll;
  //background-color: #f6f7f9;
}

body{
  overflow-y: hidden;
}

.q-badge--floating{
  // 从naive-ui里抄来的
  right: unset !important;
  left: 100% !important;
  transform: translateX(-50%)
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-space {
  flex: 1;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.m0{
  margin: 0;
}

.p0{
  margin: 0;
}
