html,
body {
  overflow: hidden;
  background-color: #f6f7f9;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-space {
  flex: 1;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
