// It's highly recommended to change the default colors
// to match your app's branding.

//$primary   : #027BE3;
//$secondary : #26A69A;
//$accent    : #9C27B0;
//
//$dark      : #1D1D1D;
//
//$positive  : #21BA45;
//$negative  : #C10015;
//$info      : #31CCEC;
//$warning   : #F2C037;

// https://material.io/design/layout/responsive-layout-grid.html#breakpoints
$breakpoint-xs: 599px !default;
$breakpoint-sm: 959px !default;
$breakpoint-md: 1263px !default;
$breakpoint-lg: 1919px !default;

$tooltip-mobile-padding         : 6px 10px !default;
$tooltip-mobile-fontsize        : 10px !default;

// $body-font-size: unset !default;
// TODO 很想把这个文件夹放其他地方，但是会报错

.q-notification{
  transition: transform 0.5s, opacity 0.5s !important;
}

.q-badge--floating{
  // 从naive-ui里抄来的
  right: unset !important;
  left: 100% !important;
  transform: translateX(-50%)
}

.q-item__label--caption {
  color: #757575 !important;
}

div.q-tab-panels{
  background-color: unset;

  .q-tab-panel{
    padding: 0;
  }
}



@import '~quasar-variables-styl';

