// app global css in SCSS form

.m0 {
  margin: 0;
}

.p0 {
  padding: 0;
}

a {
  text-decoration: none;
}

body.desktop {
  &::-webkit-scrollbar {
    display: none;
  }
}

.text-opacity {
  opacity: 0.6;
}

@for $i from 1 through 6 {
  $gap: $i * 4;

  .gap-#{$gap} {
    gap: #{$gap}px;
  }
}
