// app global css in SCSS form

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-space {
  flex: 1;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.m0 {
  margin: 0;
}

.p0 {
  margin: 0;
}

a {
  text-decoration: none;
}

body.desktop {
  &::-webkit-scrollbar {
    display: none;
  }
}

.text-opacity {
  opacity: 0.6;
}

.gap-8 {
  gap: 8px;
}