// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #1976d2;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

// https://material.io/design/layout/responsive-layout-grid.html#breakpoints
$breakpoint-xs: 599px !default;
$breakpoint-sm: 959px !default;
$breakpoint-md: 1263px !default;
$breakpoint-lg: 1919px !default;

$tooltip-mobile-padding: 6px 10px !default;
$tooltip-mobile-fontsize: 10px !default;

// 覆盖默认样式
.q-notification {
    transition: transform 0.5s, opacity 0.5s !important;
}

.q-badge--floating {
    // 从naive-ui里抄来的
    right: unset !important;
    left: 100% !important;
    transform: translateX(-50%);
}

.q-item__label--caption {
    color: #757575 !important;
}

div.q-tab-panels {
    background-color: unset;

    .q-tab-panel {
        padding: 0;
    }
}
