<!DOCTYPE html>
<html>
  <head>
    <title>轻书架</title>

    <meta charset="utf-8" />
    <meta name="description" content="轻书架，国内一手的轻小说发布地，致力于提供最完美的网站使用体验。" />
    <meta name="keywords" content="轻书架,书架,轻小说,轻小说阅读,轻小说交流" />
    <meta name="referrer" content="never" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta http-equiv="Content-Security-Policy" content="connect-src *;" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <!-- 本来这里应该是一个ico文件，但现在没有图标 -->
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.png" />
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
